parameters:
  paths:
    - src
  level: 9
  tmpDir: report/phpstan
  ignoreErrors:
    - '#method toArray#'
    - '#object_or_class#'
    - '#with no value type specified in#'
    - '#return type has no value type specified#'
  reportUnmatchedIgnoredErrors: false
